<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='stylesheet/app.css' />
  </head>
  <body>
  <h2>Express Generator</h2>
  <h3>Brayan Morales</h3>
    <script src="/bundler.js"></script>
  </body>
</html>